{
  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    }
  },

  "env": {
    "browser": true,
    "node": true
  },

  "extends": [
    "airbnb", // https://github.com/airbnb/javascript
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:react/jsx-runtime", // https://www.npmjs.com/package/eslint-plugin-react#Configuration
    "plugin:prettier/recommended" // https://www.npmjs.com/package/eslint-plugin-prettier#Recommended-Configuration
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "type"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "**/interface/**",
            "group": "type"
          },
          {
            "pattern": "@Components/**",
            "group": "internal"
          },
          {
            "pattern": "**",
            "group": "external"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },

  "ignorePatterns": ["node_modules/", "*.config.js", "webpack.*.js"]
}
